.title{
    color: #FFFFFF;
    font: 'Ubuntu';
    width: 251px;
    height: 37px;
    top: 48px;
    left: 32px;
    gap: 0px;
    opacity: 0px;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.77px;
    text-align: left;
    margin: 20px;
  
  
  }